.app-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #1f2933, #111827);

  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 15px;                

  padding: 40px 20px;
}